* {
    margin: 5;
    padding: 10;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    padding: 10px;
    background-color: #413107;
  }
  
  article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #72828a;
    border: 1px solid #311616;
    border-radius: 8px;
  }
  
  h1, h2 {
    color: #4b448d;
  }
  
  .recipe-img {
    max-width: 100%;
    height: auto;
    border-radius: 150px;
  }
  
  .ingredients ul, .directions ol {
    margin: 20px 0;
  }
  
  .ingredients li, .directions li {
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    color: #cf7908;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #04000a;
  }